@tailwind base;
@tailwind components;
@tailwind utilities;



/* Remove background and border for inline code */
.prose code {
    background-color: transparent !important;
    color: inherit !important;
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
  
  /* Remove background and border for code blocks */
  .prose pre {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  
  .prose pre code {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
