/*? GLOBAL STYLES */
/* .dark {
  background-color: #252525;
}

.light {
  background-color: white;
} */


/*? APP STYLES */


/*? RESTLESS REST AREA STYLES */


/*? ARENA STYLES */
.arena-btn {
  background-color: #252525;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

/*? WHITEBOARD POPUP STYLES */


/*? STYLING POPUP STYLES */


/*? RESIZABLE PANEL STYLES */

.resizeContainer {
  scrollbar-gutter: stable;
  scrollbar-width: normal;
  scrollbar-color: #2b4669 #03090c;
  /* scrollbar-color: #a0aec0 #edf2f7; */
}

/*? MARKDOWN VIEWER STYLES */
.prose {
  /* height: 800px; */
  background-color: white;
  overflow: auto;
  border-right: 1px solid #e2e8f0;
  /* scrollbar-gutter: stable; */
}

/* Remove background and border for inline code */
.prose code {
  /* background-color: transparent !important; */
  color: inherit !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

/* Remove background and border for code blocks */
.prose pre {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.prose pre code {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}


/*? LANGUAGE SELECTOR STYLES */


/*? EDITOR OUTPUT STYLES */


/*? CODE EDITOR STYLES */


/*? GENERAL STYLES */

/* 
.prose {
  background-color: antiquewhite;
  background-color: cornsilk;
} */



/* Popup overlay to blur the background */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 100; /* Ensure it's on top */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Popup content */
.popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 102; /* Just in case, make sure it's above the overlay */
}

/* Close button */
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #333;
}